$laptop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$mobile-s: 480px;

@mixin laptop-above {
  @media (min-width: calc(#{$laptop} + 1px)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: calc(#{$tablet} + 1px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: calc(#{$mobile} + 1px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: calc(#{$mobile-s} + 1px)) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
