.menu-item {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding: 18px 21px;
  border-radius: var(--border-radius-large);
  font-weight: 600;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  color: var(--color-text-black);

  @include hover {
    background-color: #eceff5;
    color: var(--color-blue);
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &--active {
    padding: 17px 20px;
    border: 1px solid #dadada;
    background-color: #eceff5;
    color: var(--color-blue);
    pointer-events: none;
    cursor: none;
  }
}
