.main-layout {
  display: grid;
  grid-template-columns: 264px 1fr;
  min-height: 100vh;

  &--collapsed {
    grid-template-columns: 80px 1fr;
  }

  &__container {
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
