.courseboards-page {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
    padding: 2rem;
    background: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    p {
      font-size: 1.1rem;
      opacity: 0.8;
      font-weight: 500;
    }
  }
}
