.test-page {
  margin-top: 22px;
  margin-bottom: 20px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  &__table {
    display: grid;
    gap: 10px;
  }
}

//.test-page {
//  > .test-card {
//    opacity: 0;
//    transform: translateY(10px);
//    animation: fadeInUp 0.4s ease forwards;
//
//    @for $i from 1 through 50 {
//      &:nth-child(#{$i}) {
//        animation-delay: #{0.05 * $i}s;
//      }
//    }
//  }
//}
//
//@keyframes fadeInUp {
//  from {
//    opacity: 0;
//    transform: translateY(10px);
//  }
//  to {
//    opacity: 1;
//    transform: translateY(0);
//  }
//}
