.button {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  color: var(--color-black);
  padding-inline: 26px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  height: 40px;
  background-color: var(--color-white);
  border: var(--border-strong);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    @include hover {
      background-color: var(--color-white);
    }
  }

  @include hover {
    background-color: #eceff5;
  }

  &--action {
    justify-content: center;
    padding: 2px;
    height: 42px;
    width: 42px;
  }

  &--primary {
    background: var(--color-blue);
    color: var(--color-white);
    border: none;

    @include hover {
      background: #2563eb;
    }
  }

  &--red {
    background-color: var(--color-red-dark);
    color: var(--color-white);
    border: none;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;

      @include hover {
        background-color: var(--color-red-dark);
      }
    }

    @include hover {
      background-color: #dc2626;
    }
  }

  &--dark {
    background-color: var(--color-black);
    color: var(--color-white);

    @include hover {
      opacity: 0.7;
      background-color: var(--color-black);
    }
  }
}
