.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  width: 100%;

  &__title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(270deg, #2d96ff 4.4%, #00e2a6 92.9%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
  }

  &__link {
    margin-top: 10px;
    color: #292929;
    text-align: center;
    font-size: 16px;
    font-weight: 600;

    @include hover {
      opacity: 0.8;
    }

    span {
      color: #0051ff;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}
