.auth-form {
  display: flex;
  max-width: 280px;
  width: 100%;
  flex-direction: column;
  gap: 10px;

  &__toggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #B2B2B2;
    cursor: pointer;
    font-size: 18px;

    @include hover {
      color: var(--color-blue);
    }
  }

  &__error {
    position: absolute;
    top: 50%;
    transform: translateY(60%);
    background: var(--color-white);
    left: 18px;
    color: var(--color-red-dark);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    font-size: 12px;
    padding: 0 4px;
    font-weight: 500;
  }

  &__field {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 10px 38px 10px 18px;
    border: 1px solid #B2B2B2;
    border-radius: 12px;
    outline: none;
    background: #FFF;
    color: #292929;
    font-size: 15px;
    font-weight: 500;

    &:not(:placeholder-shown) {
      border-color: #007bff;
    }

    &:focus {
      border-color: #007bff;
    }

    &:focus + .auth-form__label,
    &:not(:placeholder-shown) + .auth-form__label {
      top: 0;
      left: 18px;
      font-size: 12px;
      color: #007bff;
      background: #fff;
      padding: 0 4px;
    }

    &--error {
      border-color: var(--color-red-dark) !important;

      &:focus {
        border-color: var(--color-red-dark) !important;
      }

      & + .auth-form__label {
        color: var(--color-red-dark) !important;
      }
    }
  }

  &__label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #B2B2B2;
    pointer-events: none;
    transition: all 0.2s ease-in-out;
    font-size: 15px;
    font-weight: 500;

    &--error {
      color: var(--color-red-dark) !important;
    }
  }

  &__button {
    padding-block: 8px;
    color: var(--color-white);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background: #292929;
    font-size: 22px;
    font-weight: 600;
    transition: background 0.2s;

    &:hover:not(&--loading) {
      background: var(--color-blue);
    }

    &--loading {
      background: linear-gradient(270deg, #2D96FF 4.4%, #00E2A6 92.9%);
      background-size: 200% 200%;
      animation: gradient-move 1s linear infinite;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
}