.form-input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;

  &__input {
    width: 100%;
    padding: 10px 18px;
    border: 1px solid #b2b2b2;
    border-radius: 12px;
    outline: none;
    background: #fff;
    color: #292929;
    font-size: 15px;
    font-weight: 500;

    &:focus {
      border-color: #007bff;
    }

    &:not(:placeholder-shown) {
      border-color: #007bff;
    }

    &:focus + .form-input__label,
    &:not(:placeholder-shown) + .form-input__label {
      top: 0;
      left: 14px;
      font-size: 12px;
      color: #007bff;
      background: #fff;
      padding: 0 4px;
    }

    &--error {
      border-color: var(--color-red-dark) !important;

      &:focus {
        border-color: var(--color-red-dark) !important;
      }

      & + .form-input__label {
        color: var(--color-red-dark) !important;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: #b2b2b2;
    pointer-events: none;
    background: transparent;
    transition: all 0.2s ease-in-out;

    &--error {
      color: var(--color-red-dark) !important;
    }
  }

  &__error {
    color: var(--color-red-dark);
    font-size: 12px;
    margin-top: 4px;
  }
}
