.collections-page {
  margin-top: 22px;
  margin-bottom: 20px;

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  &__table {
    display: grid;
    gap: 10px;
  }
}
