.sidebar-creation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 240px;
  background: #111;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
  z-index: 999;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.4);

  &__btn {
    &:first-child {
      margin-bottom: 90px;
    }
    background: #222;
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition:
      background 0.2s ease,
      transform 0.2s ease;

    &:hover {
      background: #444;
      transform: translateX(-3px);
    }
  }
}
