.info-layout-page {
  margin: 0 auto;
  padding-inline: 20px;
  max-width: 1400px;

  &__loading {
    height: 100vh;
  }

  &__header {
    padding-block: 50px;
    border-bottom: var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__title {
    font-size: 40px;
    color: #292929;
    font-weight: 700;
  }

  &__back {
    @include flex-center();

    padding: 10px;
    height: auto;
  }

  &__copy-link-button {
    padding: 7px;
    height: auto;
  }

  &__questions {
    padding-block: 50px;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block: 50px;
    border-bottom: var(--border);

    &-item {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 16px;
      font-weight: 500;
      color: var(--color-text-gray);
    }

    &__icon {
      color: var(--color-purple);
      font-size: 18px;
      flex-shrink: 0;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    border: 1px solid #e3e3e3;
    border-radius: 12px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }

  &__list-header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: #f9fafb;
    font-weight: 600;
    color: #333;
    padding: 12px 16px;
    border-bottom: 1px solid #e3e3e3;

    &-item {
      display: flex;
      align-items: center;
      gap: 6px;
      user-select: none;
      cursor: pointer;
      transition: color 0.2s ease;
      &:hover {
        color: #007bff;
      }
      svg {
        font-size: 16px;
      }
    }
  }

  &__list-body {
    display: flex;
    flex-direction: column;
  }

  &__list-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px 16px;
    border-bottom: 1px solid #eee;
    transition: background 0.2s ease;

    &:hover {
      background: #f6f8fa;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__list-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__sessions {
    padding-block: 50px;
    border-bottom: var(--border);
  }
}

.info-layout-page__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.info-layout-page__search-input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  transition: all 0.25s ease;
  width: 300px;

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    border-color: var(--color-purple);
    outline: none;
  }
}

.info-layout-page__list-cell--icon {
  display: flex;
  align-items: center;
  color: var(--color-text-black);
  transition: color 0.3s ease;

  @include hover {
    color: var(--color-blue);
  }
}
