.tabs-filter {
  display: flex;
  align-items: center;
  column-gap: 30px;

  &__option {
    color: var(--color-text-gray);
    font-size: 18px;
    font-weight: 500;
    padding: 6px 20px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    transition:
      color var(--transition-duration),
      border-bottom var(--transition-duration);

    @include hover {
      color: var(--color-blue);
      cursor: pointer;
    }
  }

  &__option--active {
    color: var(--color-blue);
    border-bottom: 2px solid var(--color-blue);
    cursor: none;
    pointer-events: none;
  }
}
